aside {
  z-index: 100;
  position: absolute;
}

:root {
  --speed: 200;
  box-sizing: border-box;
}

main {
  pointer-events: none;
}

body {
  background-color: forestgreen;
}

.positioned {
  --x: 0;
  --y: 0;
  --size: 5em;
  width: var(--size);
  height: var(--size);
  aspect-ratio: 1/1;
  position: absolute;
  left: calc(var(--size) * var(--x));
  top: calc(var(--size) * var(--y));
  transition-property: top, left;
  transition-duration: calc(1ms * var(--speed));
}

.player {
  background-color: cadetblue;
  border-radius: 50%;
}

.apple {
  width: 2em;
  height: 2em;
  background-color: red;
  border-radius: 0.5em;
}

.box {
  width: 4.2em;
  height: 4.2em;
  background-color: burlywood;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-content: center;
  border: 1px solid black;
  border-radius: 0.25em;
  gap: 0.1em;
}
